.loader {
  color: #0DC5C1;
  font-size: 25px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0; }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em; }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em; }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em; }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em; }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em; }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0; }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em; } }

@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0; }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em; }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em; }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em; }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em; }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em; }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0; }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em; } }

/*
variables here
*/
/*
utilities
*/
/*
RESET
*/
*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Curse Casual", "sans-serif"; }

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #ECF0F1;
  color: #2C3E50; }

.header__container {
  min-height: 375px;
  padding: 3rem; }

.header--main {
  font-size: 54px;
  letter-spacing: .1px;
  font-weight: 700; }

.header--sub {
  font-size: 30px;
  line-height: 130%;
  font-weight: 400; }

.header--three {
  font-size: 24px;
  border-bottom: 3px solid #FF7700;
  padding-bottom: 8px;
  width: 40%; }

.header__text-container {
  margin: 0 auto;
  width: 90%; }

.header__directions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center; }
  .header__directions-text {
    font-size: 18px;
    line-height: 130%; }

.u-bold {
  color: #FF7700;
  font-weight: 500; }

.u-alert--success, .u-alert--success-2 {
  text-align: center;
  color: #00AFB5;
  font-size: 24px; }

.u-alert--danger {
  text-align: center;
  color: #A30000;
  font-size: 24px; }

.btn--primary {
  font-size: 24px;
  border: 3px solid #FF7700;
  display: block;
  width: 40%;
  transition: all .4s ease; }
  .btn--primary:hover {
    border-color: #00AFB5;
    color: #FF7700;
    transform: scale(1.02) translateY(-2px); }

.Card__container {
  margin: 0 auto;
  text-align: center;
  width: 90vw;
  padding: 5px;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  transition: all .3s ease; }

.Card__item {
  flex: 1 0 7%;
  margin-bottom: 1.25%;
  max-width: 7%; }
  .Card__item:not(:last-child) {
    margin-right: .5%; }
  .Card__item.active {
    border: 3px solid #2C3E50;
    padding: .2px; }
  .Card__item.hidden {
    display: none; }
  .Card__item.active-flipped {
    padding: 1px;
    border: 1px solid #FF7700; }

.Card__img {
  width: 100%;
  cursor: pointer; }

.hidden {
  visibility: hidden; }

.success-shown {
  visibility: visible; }

@keyframes fadeOut {
  100% {
    opacity: 0; }
  0% {
    opacity: 1; } }

/* This stylesheet generated by Transfonter (https://transfonter.org) on February 28, 2018 1:27 AM */
/* This stylesheet generated by Transfonter (https://transfonter.org) on February 28, 2018 1:27 AM */
@font-face {
  font-family: 'Curse Casual';
  src: url("../assets/fonts/CurseCasualRegular.eot");
  src: url("../assets/fonts/CurseCasualRegular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/CurseCasualRegular.woff2") format("woff2"), url("../assets/fonts/CurseCasualRegular.woff") format("woff"), url("../assets/fonts/CurseCasualRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
