/*
variables here
*/
/*
utilities
*/
/*
RESET
*/
*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #ECF0F1;
  color: #2C3E50; }

.Card__container {
  margin: 0 auto;
  text-align: center;
  width: 90vw;
  padding: 5px;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  transition: all .3s ease; }

.Card__item {
  flex: 1 0 7%;
  max-width: 7%; }
  .Card__item:not(:last-child) {
    margin-right: .5%; }
  .Card__item.active {
    border: 3px solid #2C3E50;
    padding: .2px; }
  .Card__item.hidden {
    display: none; }

.Card__img {
  width: 100%;
  cursor: pointer; }
