@import "./_loader.scss";
@import "./_mixins.scss";
/*
variables here
*/

//colors
$color-background: #ECF0F1; //bg
$color-primary:#2C3E50; //for text
$color-success:#00AFB5;
$color-danger:#A30000;
$color-tertiary:#FF7700; //borders to test
$border-test:2px solid #FFD1C3;
$border-test-2:1.5px solid orangered;
$border-test-3: 2px solid pink;
$border-active:3px solid $color-primary;
//fonts
$fontFamily-primary: "Curse Casual";
/*
utilities
*/

/*
RESET
*/

*::before,
*::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: $fontFamily-primary, 'sans-serif';
}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-background;
    color: $color-primary;
}

.header {
    &__container {
        min-height: 375px;
        padding: 3rem;
    } //text
    &--main {
        font-size: 54px;
        letter-spacing: .1px;
        font-weight: 700;
    }
    &--sub {
        font-size: 30px;
        line-height: 130%;
        font-weight: 400;
    }
    &--three {
        font-size: 24px;
        border-bottom: 3px solid $color-tertiary;
        padding-bottom: 8px;
        width: 40%;
    }
    &__text-container {
        margin: 0 auto;
        width: 90%;
    }
    &__directions {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        &-item {}
        &-text {
            font-size: 18px;
            line-height: 130%;
        }
    }
}

//Utilies
.u-bold {
    color: $color-tertiary;
    font-weight: 500;
}

.u-alert {
    &--success,
    &--success-2 {
        text-align: center;
        color: $color-success;
        font-size: 24px;
    }
    &--danger {
        text-align: center;
        color: $color-danger;
        font-size: 24px;
    }
}

//Button
.btn {
    &--primary {
        font-size: 24px;
        border: 3px solid $color-tertiary;
        display: block;
        width: 40%;
        transition: all .4s ease;
        &:hover {
            border-color: $color-success;
            color: $color-tertiary;
            transform: scale(1.02) translateY(-2px);
        }
    }
}

.Card {
    &__container {
        margin: 0 auto;
        text-align: center;
        width: 95vw;
        padding: 5px;
        max-width: 1400px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        transition: all .3s ease;
    }
    &__item {
        flex: 1 0 7%;
        margin-bottom: 1.25%;
        max-width: 7%;
        &:not(:last-child) {
            margin-right: .5%;
        }
        &.active {
            border: $border-active;
            padding: .2px;
        }
        &.hidden {
            display: none;
        }
        &.active-flipped {
            padding: 1px;
            border: 1px solid $color-tertiary;
        }
    }
    &__img {
        width: 100%;
min-height:150px;
        cursor: pointer;
    }
}

.hidden {
    visibility: hidden;
}

.success-shown {
    visibility: visible;
}

.alert-danger,.alert-success
{
    font-size:24px;
}
@keyframes fadeOut {
    100% {
        opacity: 0;
    }
    0% {
        opacity: 1;
    }
}
<<<<<<< HEAD

/* This stylesheet generated by Transfonter (https://transfonter.org) on February 28, 2018 1:27 AM */

/* This stylesheet generated by Transfonter (https://transfonter.org) on February 28, 2018 1:27 AM */

@font-face {
    font-family: 'Curse Casual';
    src: url('../assets/fonts/CurseCasualRegular.eot');
    src: url('../assets/fonts/CurseCasualRegular.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/CurseCasualRegular.woff2') format('woff2'), url('../assets/fonts/CurseCasualRegular.woff') format('woff'), url('../assets/fonts/CurseCasualRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
=======
>>>>>>> 9522fee0885427d2a421412e5d15dc9a74fff5e6
