@import "./_loader.scss";
/*
variables here
*/

//colors
$color-background: #ECF0F1; //bg
$color-primary:#2C3E50; //for text
//borders to test
$border-test:2px solid #FFD1C3;
$border-test-2:1.5px solid orangered;
$border-test-3: 2px solid pink;
$border-active:3px solid $color-primary;
/*
utilities
*/

/*
RESET
*/

*::before,
*::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-background;
    color: $color-primary;
}

.Card {
    &__container {
        margin: 0 auto;
        text-align: center;
        width: 90vw;
        padding: 5px;
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        transition: all .3s ease;
    }
    &__item {
        flex: 1 0 7%;
        margin-bottom:1.25%;
        max-width: 7%;
        &:not(:last-child) {
            margin-right: .5%;
        }
        &.active {
            border: $border-active;
            padding: .2px;
        }
        &.hidden {
            display: none;
        }
    }
    &__img {
        width: 100%;
        cursor: pointer;
    }
}

.hidden {
    visibility: hidden;
}

.success-shown {
    visibility: visible;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
    }
    0% {
        opacity: 1;
    }
}