/*
variables here
*/
/*
utilities
*/
/*
RESET
*/
*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #ECF0F1;
  color: #2C3E50; }
