/*
variables here
*/

//colors
$color-background: #ECF0F1; //bg
$color-primary:#2C3E50; //for text
$color-success:#00AFB5;
$color-danger:#A30000;
$color-tertiary:#FF7700; //borders to test
$border-test:2px solid #FFD1C3;
$border-test-2:1.5px solid orangered;
$border-test-3: 2px solid pink;
$border-active:3px solid $color-primary;
//fonts
$fontFamily-primary: "Curse Casual";